@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-primary-dark: #1e40af;
  --color-bg-main: #f8fafc;
  --color-sidebar-bg: #ffffff;
  --color-text-main: #1e293b;
  --color-text-muted: #64748b;
  --color-border-main: #e2e8f0;
  --color-success-main: #10b981;
  --color-danger-main: #ef4444;
  --color-warning-main: #f59e0b;
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-bg-main text-text-main font-sans;
  }
}
